:root  {
    --var-black-color: #282828;
    --var-dark-green-color: #458741;
    --var--light-green-color: #9ee49b;
    --var-gray-color: #EEEEEE;
    --var-white-color: #FFFFFF;
    }
    
.contacts {padding: 3rem 0;}

.social-items {
    justify-content: center;
    margin-top: 20px;
    gap: 25px;
    transition: all .5s;
}

.social-item:hover { opacity: .8;}

@media (max-width:360px) {
    .social-items {
        flex-wrap: wrap;
    }
}