:root  {
    --var-black-color: #282828;
    --var-dark-green-color: #458741;
    --var--light-green-color: #9ee49b;
    --var-gray-color: #EEEEEE;
    --var-white-color: #FFFFFF;
    }

    .faq-container {
        padding: 3rem 2rem;
    }

    .faq-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
    } 

    